
html, body
{
  background-color: #f3fef3;
}

#container
{
  text-align: center;
  margin-top: 15%;
  font-size: 1.5em;
}

h1, h2
{
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

h1
{
  padding: 5px;
}

h2
{
  color: #6060af;
  font-size: 3em;
  margin: 25px;
}

#controls button
{
  padding: 10px;
  margin: 10px;
  letter-spacing: 1.5px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 0.75em;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: #fafafa;
}

#controls button:hover
{
  background-color: #efefef;
}

#controls button:active
{
  background-color: #d0d0d0;
}
