/* Fonts */
@font-face
{
  font-family: Sublima;
  src: url(./fonts/Sublima-ExtraLight.otf);
}

@font-face
{
  font-family: Homozio;
  src: url(./fonts/Homozio-regular.ttf);
}

@font-face
{
  font-family: "Source Sans 3";
  src: url(./fonts/SourceSans3-VariableFont_wght.ttf);
}

/* HTML styles */
html, body {
  background-color: #010101;
  scroll-behavior: smooth;
  margin: auto;
}


/* Header styles */
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 2px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 20% 10%;
  grid-template-rows: 100%;
  justify-content: space-between;
  background-color: #1F1E1F;
  border-bottom: 1px solid #010101;
  z-index: 1;
}

header * {
  margin-top: auto;
  margin-bottom: auto;
}

/* Main style */
main
{
  padding: 5px;
  margin: 8em 25% 6em 25%;
  display: block;
  max-width: 50%;
  min-height: 20em;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
  background-color: #1F1E1F;
}

/* Article styles */
article
{
  padding: 20px;
  margin: 1em auto 1em auto;
  max-width: 90%;
  box-sizing: border-box;
}

/* Unique articles or divs */
article.side-by-side
{
  display: grid;
  width: 70%;
  height: auto;
  grid-template-columns: 50% 50%;
}

article.side-by-side div
{
  display: block;
  margin: auto;
  text-align: center;
}

article.divider
{
  margin: 3em auto;
  border-bottom: 2px solid #A30B37;
  max-width: 80%;
}

article.gallery
{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 2em;
  overflow: visible;
}
article.gallery.square {
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 300px;
}

article.full-size-display
{
  position: relative;
  display: flex;
  width: 100%;
  height: 30em;
  /* box-shadow: -2px -2px 3px 0px #ACADB7, 2px 2px 3px 0px #ACADB7; */
  text-align: center;
}

article.full-size-display *
{
  margin: auto;
}

div.floating-card
{
  position: absolute;
  padding: 20px;
  background-color: #343234;
  box-shadow: -2px -2px 4px 1px #202020, 2px 2px 4px 1px #202020;
  transition: opacity 0.8s;
  opacity: 1;
  border-radius: 3px;
}

div.floating-card *
{
  color: #f0f0f0;
}

div.floating-card.hidden
{
  opacity: 0 !important;
  transition: unset !important;
}

/* Nav bar */
nav
{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  text-align: center;
}

a.nav
{
  width: 100%;
  height: 100%;
  letter-spacing: 1.25px;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  color: #EFEFEF;
  transition: letter-spacing 0.5s ease-in-out;
  margin: auto;
}

a.nav:hover
{
  letter-spacing: 2.5px;
  color: #dfdfdf;
  transition: letter-spacing 0.1s ease-in-out;
}

a.nav:active
{
  color: #bababa;
  letter-spacing: 2.6px;
  transition: letter-spacing 0.05s;
}

/* Images */

figure
{
  display: grid;
  width: auto;
  height: 100%;
  grid-template-rows: 80% 20%; /* Figures consist of a top for the image and a bottom section reserved for captions */
  margin: auto;
}

/* This special figure and image stretches to match the main container */
figure.full-width
{
  width: 100%;
  height: 100%;
  grid-template-rows: 400px 50px !important;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  text-align: center;
  font-family: Verdana, sans-serif;
}
figure.full-width img { /* Full figure images can exceed max width */
  max-width: 100% !important;
}
figure.no-caption img { /* Full figure image covers caption area as well */
  grid-row-start: 1;
  grid-row-end: 3;
}

/* Headings of this full width image position themselves accordingly */
figure.full-width h2
{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 6px;
  border-radius: 5px;
  color: #f0f0f0;
}

figure.full-width h1
{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 6px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f0f0f0;
}

figure img
{
  width: 100%;
  height: 100%;
  max-width: 250px;
  border: 1px solid #2B2118;
  box-sizing: border-box;
  border-radius: 3px;
  object-fit: cover;
  grid-row: 1;
  margin: 0;
  transition: transform 0.25s ease-out;
}
figure.zoom-enabled img:hover /* Image zoom on mouse over */
{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
.gallery.square figure img
{
  width: 250px;
  height: 250px;
}

figure figcaption
{
  width: 100%;
  height: 100%;
  display: flex;
  grid-row: 2;
}

figure figcaption p
{
  font-size: 0.95em;
  font-weight: 300;
  color: #cecece;
  letter-spacing: 0;
  line-height: 1em;
  margin: auto; /* center */
  text-align: center;
}

img.logo
{
  width: 50px;
  height: 50px;
  border-radius: 2px;
  margin: auto;
}

/* Lists */

ol
{
  padding: 0;
  margin: 1em 0;
  text-align: left;
  list-style-type: square;
  list-style-position: outside;
  color: #efefef;
  width: 50%;
  text-overflow: wrap;
  display: inline-block;
}


/* Texts and semantics */
h1
{
  font-size: 1.4em;
  font-family: Sublima, sans-serif;
  font-weight: 800;
  color: #EFEFEF;
  margin: 1em 0;
}

h2
{
  font-size: 1.2em;
  font-family: Sublima, sans-serif;
  font-weight: 600;
  color: #cecece;
  letter-spacing: 1px;
  margin: 1em 0;
}

h3
{
  font-size: 1em;
  font-family: Sublima, sans-serif;
  font-weight: 600;
  color: #cecece;
  letter-spacing: 1px;
  margin: 0.5em 0;
}

p
{
  color: #EFEFEF;
  font-family: "Source Sans 3", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.5px;
}

a
{
  color: #E5104C;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 1.05em;
  transition: color 0.2s ease-in;
}

a:hover
{
  color: #D5003C;
  transition: color 0.1s ease-in-out;
}

a:active
{
  color: #930917;
}

/* Buttons */

button
{
  display: block;
  margin: auto;
  padding: 6px;
  color: #cecece;
  font-size: 1.1em;
  min-height: 2.25em;
  width: 8em;
  background-color: #A30B37;
  border: 1px solid #010101;
  border-radius: 25px;
  box-shadow: -5px -5px 5px 1px #181818;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: "Source Sans 3", Helvetica, sans-serif;
}

button:hover
{
  background-color: #930917;
  transition: background 0.1s ease-in-out;
}

button:active
{
  background-color: #430000;
  position: relative;
  right: 1px;
  transition: background 0.25 ease-out;
}

/* Scrollbar style */
::-webkit-scrollbar
{
  width: 16px;
}

::-webkit-scrollbar-track
{
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb
{
  background-color: #B0B0B0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover
{
  background-color: #A0A0A0;
}


/* Footer styles */
footer
{
  text-align: center;
  width: 100%;
  margin: 3em 0 0 0;
  padding: 2em 0 3em 0;
  min-height: 10em;
  box-sizing: border-box;
  background-color: #090909;
  box-shadow: 0 50vh 0 50vh #090909; /* stretches footer to bottom of page */
}

p.footer
{
  font-size: 0.95em;
  color: #f0f0f0;
  font-family: Arial, sans-serif;
}

a.footer
{
  font-size: 0.75em;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}
