
html, body {
  background-color: #101010;
  color: #fefefe;
  font-size: 18px;
}

main {
  width: 60%;
  margin: 1% auto 0 auto;
  text-align: center;
}

h1, h3, label, input, button, span {
  font-family: "Trebuchet MS", sans-serif;
}

form {
  margin: 1rem 0;
  padding: 1rem 0;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: none;
}

button {
  font-family: monospace;
  font-size: 0.8rem;
  background-color: #cfc;
}

button:hover {
  background-color: #afa;
}

button:active {
  background-color: #7c7;
}

#results {
  width: 70%;
  margin: 1rem auto;
  background-color: #7a7;
  padding: 0;
  border-radius: 25px;
  box-shadow: 4px -4px 0 0 #305030;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  overflow: hidden;
}


h3 {
  font-size: 1.2rem;
}

.top {
  padding: 0 0.25rem;
  background-color: #494;
  width: 100%;
  height: auto;
}

#types {
  float: right;
  padding-right: 0.5rem;
}

#types .type {
  padding: 0.25rem;
  margin: 0.5rem;
  background-color: #303030;
}

#sprite {
  width: 45%;
  height: auto;
  margin: 1rem auto;
  background-color: #6a6;
  border-radius: 50%;
  padding: 0;
}

.main {
  width: 100%;
  margin: 1rem auto;
}

.main > * {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 2rem;
  align-items: center;
}

.heading {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.base, .stat {
  background-color: #4a4;
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
}

.bottom {
  font-size: 0.8rem;
  font-weight: 100;
  padding: 0.5rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
}

.type.electric {
  background-color: #aa1 !important;
}

.type.poison {
  background-color: #a6e !important;
}

.type.grass {
  background-color: #4c4 !important;
}

.type.bug {
  background-color: #2a2 !important;
}

.type.flying {
  background-color: #ecf !important;
}

.type.fairy {
  background-color: #dde !important;
}

.type.water {
  background-color: #44c !important;
}

.type.psychic {
  background-color: #e4f !important;
}

.type.ground {
  background-color: #833 !important;
}

.type.dragon {
  background-color: #260 !important;
}

.type.fire {
  background-color: #e33 !important;
}

.type.ghost {
  background-color: #777 !important;
}
